{% extends 'seller_header.html' %}
{% load static %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Edit Product</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Edit Product</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <form action="{% url 'product_edit' product_data.id %}"  method="post" enctype="multipart/form-data">
        {% csrf_token %}
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">General</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="inputName">Product Name</label>
                <input type="text" id="inputName" class="form-control" name="product_name" value="{{product_data.product_name}}">
              </div>
              <div class="form-group">
                <label for="inputDescription">Product Description</label>
                <textarea id="inputDescription" class="form-control" name="des" rows="4">{{product_data.des}}</textarea>
              </div>
              <div class="form-group">
                <label for="inputStatus">Price</label>
                <input type="text" id="inputName" class="form-control" name="price" value="{{product_data.price}}">
                            
              </div>
              <div class="form-group">
                <label for="inputStatus">Product Stock</label>
                <input type="text" id="inputName" class="form-control" name="product_stock" value="{{product_data.product_stock}}">
                            
              </div>
              <div class="form-group">
                <label for="inputClientCompany">Picture</label>
                <input type="file" id="inputClientCompany" name="pic" class="form-control" value="">
              </div>
              
              
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
       
      </div>
      <div class="row">
        <div class="col-12">
          <input type="submit" value="Save Changes" class="btn btn-success ">
        </div>
      </div>
    </form>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% endblock %}