{% extends 'seller_header.html' %}
{% load static %}
      <!-- about section start -->
      {% block content %}
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div><img src="{% static 'images/about-img.png' %}" class="{% static 'about_img' %}"></div>
               </div>
               <div class="col-md-6">
                  <h1 class="about_taital padding_top0">About company</h1>
                  <div class="border"></div>
                  <p class="about_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitationconsectetur adipiscing </p>
                  <div class="read_bt_1"><a href="#">Read More</a></div>
                  <div class="image_1"><img src="{% static 'images/img-1.png' %}"></div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
{% endblock %}
     